
body {
    background: #c7af6b;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 80%;
    background-color: #fff;
}

div {
	box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

.title {
	background: #4f5f76;
	max-width: 100%;
	margin-left: 0;
	height: 70px;
	box-shadow: none;
	text-align: center;
}

h1 {
    margin: auto;
    padding-top: 20px;
	width: 100%;
	font-weight: 700;
	font-size: 25px;
	color: #fff;
	
}


.instructions {
    margin: 10px 10px 10px 10px;
    padding: 10px 5px;
    background-color:#0f2862;
	color: #fff; 
	font-size:20px;

}

.random {
    margin-top: 10px;
    margin-left: 22%;
    margin-right: 60px;
	height: 150px;
	width: 300px;
	background-color: #3e0ce8;
	color: #fff;
	font-size: 20px;
	float: left;
}

#randomNumber {
	font-size: 15px;
}



.scoreboard {
    font-size: 20px;
	float: left;
	height: 150px;
	width: 300px;
	background-color: #3e0ce8;
    color: #fff;
    margin-top: 10px;
}



.crystals {
	clear: both;
	margin-left: 0;
	padding-top: 25px;
	margin-left: 4.3%;
	box-shadow: none;
}

img {
	height: 75px;
}

#green, #pink, #yellow {
	margin-left: 0;
    padding-left: 5px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

#red{
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

.userTotal {
    margin-top: 25px;
    padding: 10px;
    background: #4f5f76;
    font-size: 20px;
    color: #fff;

}

#totalScore {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;


}